@charset "utf-8";
/* CSS Document */

html, body {
  font-family:'Merriweather', sans-serif, 'PT Serif', 'Libre Baskerville', 'Pacifico','Crimson Text', 'Quicksand', 'Vollkorn', 'Crete Round', 'Source Serif Pro', 'Adamina', 'Lateef';
  font-weight: 400;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-color: #00000;
}

a:link {
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	color: #989898;
	text-decoration: underline;
}

ul
{
    list-style-type: none;
}

ul > li
{
    color: #FFFFFF;
}

ul > li > span
{
    color: black;
}

p .page-description {
  max-width: 65%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 25px;
}

div {
  padding-right: 20px;
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
  align-content: center;
}

.main {
  padding-left: 30px;
  min-width: 75%;
  background-color: #FFFFFF;
  text-align: center;
}

.nav {
  background-color: #353467;
  max-width: 25%;
  min-width: 140px;
  flex: 1;
}

@media (max-width: 544px){
}
